{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<!-- ./../../static/css/styles.css -->
{% endblock %}
{% block scripts %}
    {{super()}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" 
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" 
        crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="{{url_for('static', filename='base.js')}}"></script>
    <script>
        function afficher_data1(){
            afficher_data('#utilisateurs', '#publications', 1, 999999)
            initialiser_websocket()
        }

    </script>
{% endblock %}

{% block title %}
    {% if title %}
        {{title}} - Petits Gazous par Maxime Gautier
    {% else %}
        Bienvenue sur Petits Gazous par Maxime Gautier
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('index')}}">Accueil</a>
                {% if current_user.is_authenticated %}
                    <a class="navbar-brand" href="{{ url_for('profile', nom=current_user.nom) }}">Profil</a>
                    <a class="navbar-brand" href="{{ url_for('explorer')}}">Explorer</a>
                    <a class="navbar-brand"href="{{ url_for('logout')}}">Fin de Session</a>
                {% else %}
                    <a class="navbar-brand"href="{{url_for('login')}}">Établir Session</a>
                {% endif %}

                <a class="navbar-brand"href="{{url_for('websocket')}}">Websocket</a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}
<div class="container">
    Petits Gazous par Maxime Gautier
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
</div>
{% endblock %}